@media screen and (max-width: 427px) {
  /* .container {
    width: 426px;
  } */
  /* 
  .mob-menu {
    width: 100%;
  } */

  /* .mob-menu-list-soc {
    gap: 24px;
  } */

  /* .mob-menu-tel {
    font-size: 12px;
  } */
}

@media screen and (min-width: 428px) {
  .container {
    width: 426px;
    outline: 2px solid red;
  }

  /* HERO */

  .mob-menu-tel {
    font-size: 36px;
  }

  .mob-menu-email {
    font-size: 20px;
  }

  .mob-menu-list-soc {
    gap: 56px;
  }

  .hero {
    height: 432px;
  }

  /* TEAN */
  .container-team {
    width: 263px;
    padding-left: 82px;
    padding-right: 82px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1156px) {
}
