@media screen and (min-width: 428px), (max-width: 427px) {
  .header-menu-list {
    display: none;
  }

  .header-address-list {
    display: none;
  }
}

@media screen and (max-width: 767px), (min-width: 1158px) {
  /* HEADER */
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 426px;
  }

  /* HERO */

  .mob-menu-tel {
    font-size: 36px;
  }

  .mob-menu-email {
    font-size: 20px;
  }

  .mob-menu-list-soc {
    gap: 56px;
  }

  .hero {
    height: 432px;
  }

  /* TEAM */
  /* .team > .container {
    width: 264px;
  } */
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /* HEADER */

  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: 120px;
  }

  .header-menu-link {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-secondary-color);
    transition: color var(--main-transition);
  }

  .header-menu-link:is(:hover, :focus) {
    color: var(--text-accent-color);
  }

  .header-current-page {
    color: var(--text-accent-color);
  }

  .header-current-page::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;

    top: 47px;
  }

  .header-contact-link {
    font-size: 12px;
    line-height: calc(14 / 12);
    color: var(--text-primary-color);
    transition: color var(--main-transition);
  }

  .header-contact-link:is(:hover, :focus) {
    color: var(--text-accent-color);
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .modal {
    padding: 72px 24px 24px 24px;
    max-width: 408px;
  }

  .menu-open-button {
    display: none;
  }

  /* HERO */

  .hero {
    max-width: 769px;
    background-image: var(--grad), url(../images/hero/fon-image-hero-tab1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--grad),
        url(../images/hero/fon-image-hero-tab2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin: 0 auto;

    margin-bottom: 36px;

    font-size: 56px;
    line-height: calc(60 / 56);
    text-transform: none;
  }

  .hero-button:is(:hover, :focus) {
    background-color: #404bbf;
  }

  .modal-close:is(:hover, :focus) {
    fill: #ffffff;
    background-color: #404bbf;
  }

  .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
  }

  .modal-input:focus {
    border-color: #4d5ae5;
  }

  .modal-textarea:focus {
    border-color: #4d5ae5;
  }

  .modal-submit-button:is(:hover, :focus) {
    background-color: #404bbf;
  }

  /* ABOUT */
  .about-list-title {
    text-align: left;
  }

  .about-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .about-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* TEAM */
  .team > .container {
    width: 582px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .team-soc-link {
    transition: background-color var(--main-transition);
  }

  .team-soc-link:is(:hover, :focus) {
    background-color: #404bbf;
  }

  /* CUSTOMERS */

  .customers > .container {
    width: 582px;
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .customers-list-link {
    transition: border var(--main-transition);
  }

  .customers-list-link .customers-list-icons {
    transition: fill var(--main-transition);
  }

  .customers-list-link:is(:hover, :focus) {
    border: 1px solid #404bbf;
  }

  .customers-list-link:is(:hover, :focus) .customers-list-icons {
    fill: #404bbf;
  }

  /* FOOTER */

  .footer > .container {
    width: 582px;
  }

  .container-footer {
    align-items: flex-start;
  }

  .footer-logo-wrap {
    align-items: flex-start;
  }

  .footer-soc {
    align-items: flex-start;
  }

  .footer-subscribe-text {
    text-align: left;
  }

  .foot-wrap-uppart {
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe {
    width: 453px;
    height: 80px;
  }

  .subscribe-wrap {
    flex-direction: row;
    gap: 24px;
    margin-top: 16px;
  }

  .footer-subscribe-button {
    transition: background-color var(--main-transition);
  }

  .footer-subscribe-button:is(:hover, :focus) {
    background-color: #404bbf;
  }

  .footer-soc-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }

  /* PROJECT */
  .projects-button:is(:hover, :focus, ) {
    color: #ffffff;
    background-color: #404bbf;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .project-list-buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .project-list-first {
    margin-bottom: 0;
  }

  .project-list-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .project-list-link:is(:hover, :focus) .project-overlay-text {
    transform: translateY(0);
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /* HEADER */
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-current-page::after {
    top: 41px;
  }

  .header-menu-list {
    margin-left: 76px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contact-link {
    font-size: 16px;
    line-height: calc(16 / 24);
    letter-spacing: 0.02em;
  }

  /* HERO */
  .hero {
    max-width: 1440px;
    height: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: var(--grad), url(../images/hero/fon-image-hero-des1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--grad),
        url(../images/hero/fon-image-hero-des2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ABOUT */

  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .about-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .about-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .about-list-text {
    font-weight: 400;
  }

  .about-icons-container {
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-icons {
    width: 64px;
    height: 64px;
  }
  .about-title {
    margin-bottom: 8px;
  }

  /* PERFOMANCE */

  .performance {
    display: block;
    padding-bottom: 120px;
  }

  .performance-title {
    color: var(--text-secondary-color);
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 72px;
  }

  .perfomance-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .perfomance-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* TEAM */

  .team > .container {
    width: 1158px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;

    .team-item {
      flex-basis: calc((100% - 72px) / 4);
    }
  }

  .team-list {
    gap: 24px;
  }

  /* CUSTOMERS */

  .customers > .container {
    width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list-item {
    flex-basis: calc((100% - 24px * 5) / 6);
  }

  /* FOOTER */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    flex-direction: row;
    gap: 80px;
  }

  .foot-wrap-uppart {
    flex-direction: row;
    gap: 120px;
  }

  .footer > .container {
    width: 1158px;
  }

  /*  PORTFOLIO  */

  .projects {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .project-list-buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .projects-button {
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #f4f4fd;

    transition: color var(--main-transition),
      background-color var(--main-transition),
      border-color var(--main-transition), box-shadow var(--main-transition);
  }

  .projects-button:is(:hover, :focus, ) {
    color: #ffffff;
    background-color: #404bbf;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .project--item {
    width: calc((100% - 48px) / 3);
  }

  .project-overlay-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .project-overlay-text {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px 164px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform var(--main-transition);
  }

  .project-list-jobs {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .project-list-link {
    display: block;
    transition: box-shadow var(--main-transition);
  }

  .project-list-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .project-list-link:is(:hover, :focus) .project-overlay-text {
    transform: translateY(0);
  }

  .project-container-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .projects-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .projects-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
