@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  /* HERO */

  .mob-menu-tel {
    font-size: 36px;
  }

  .mob-menu-email {
    font-size: 20px;
  }

  .mob-menu-list-soc {
    gap: 56px;
  }

  .hero {
    height: 432px;
  }

  /* TEAM */
  .team .container {
    width: 264px;
    padding-left: 82px;
    padding-right: 82px;
    outline: 1px solid red;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    outline: 2px solid red;
  }

  .menu-open-button {
    display: none;
  }

  /* HERO */
  .hero {
    background-image: var(--grad), url(../images/hero/fon-image-hero-tab1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--grad),
        url(../images/hero/fon-image-hero-tab2x.jpg);
    }
  }
}

@media screen and (min-width: 1156px) {
  /* HERO */
  .hero {
    background-image: var(--grad), url(../images/hero/fon-image-hero-des1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--grad),
        url(../images/hero/fon-image-hero-des2x.jpg);
    }
  }
}
